@page
@using  CowboyCafe.Data
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Grant Clothier 4.19.2020 Used to dynamicly generate menuitem information -->

<div class="text-center">
    <h1 class="display-4">Welcome to Cowboy Cafe!</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the
        American West. Shake off the dust on your boots and sake your thirst with one of
        our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or
        conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.
    </p>
</div>

<form>
    <input type="text" name="SearchTerms" />
    <input type="submit" value="Search">
</form>

<ul class="menu-itemlist:">
    @foreach (IOrderItem item in @Menu.All)
    {
        <li>
            <div class="details">
                <h3 class="menu-item">@item.ToString()</h3>
                
            </div>
            <div class="ratings">
                @if (item.ToString() != null)
                {
                    <div class="imdb">
                        @item.ToString()
                    </div>
                }
                @if (item.ToString() != null)
                {
                    <div class="rotten-tomatoes">
                        @item.ToString()
                    </div>
                }
            </div>
        </li>
    }
</ul>

<h2>####################</h2>
<h2>Entrees:</h2>
@foreach (IOrderItem x in Menu.CompleteMenu())
{
    @if (x is Entree)
    {


        <ul>
            <li>
                <div class="menu-item">
                    <h3>@x.ToString()</h3>
                    Price:
                    $
                    @x.Price
                    Calories:
                    @x.Calories
                </div>
            </li>
        </ul>
    }
}
<h2>Sides:</h2>
@foreach (IOrderItem x in Menu.CompleteMenu())
{
    @if (x is Side)
    {


        <ul>
            <li>
                <div class="menu-item">
                    <h3>@x.ToString()</h3>
                    Price:
                    $
                    @x.Price
                    Calories:
                    @x.Calories
                </div>
            </li>
        </ul>
    }
}
<h2>Drinks:</h2>
@foreach (IOrderItem x in Menu.CompleteMenu())
{
    @if (x is Drink)
    {
        <ul>
            <li>
                <div class="menu-item">
                    <h3>@x.ToString()</h3>
                    Price:
                    $
                    @x.Price
                    Calories:
                    @x.Calories
                </div>
            </li>
        </ul>
    }
}




