@page
@using  CowboyCafe.Data
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Grant Clothier 4.19.2020 Used to dynamicly generate menuitem information -->

<div class="text-center">
    <h1 class="display-4">Welcome to Cowboy Cafe!</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the
        American West. Shake off the dust on your boots and sake your thirst with one of
        our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or
        conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.
    </p>
</div>

<form>
    <input type="text" name="SearchTerms" />
    <input type="submit" value="Search">

    @foreach (String type in Menu.MenuItemTypes)
    {
        <label>
            <input type="checkbox" name="Types" value="@type" checked="@Model.MenuItemTypes.Contains(type)" />
            @type
        </label>
    }
    <h4>Calories:</h4>
    <div>
        Between
        <input name="CalMin" type="number" min="0" max="10000" step="0.1" placeholder="min" />
        and
        <input name="CalMax" type="number" min="0" max="10000" step="0.1" placeholder="max" />
    </div>
    <h4>Price:</h4>
    <div>
        Between
        <input name="PriceMin" type="number" min="0" max="10000" step="0.1" placeholder="min" />
        and
        <input name="PriceMax" type="number" min="0" max="10000" step="0.1" placeholder="max" />
    </div>

</form>

<h2>Entrees:</h2>
@foreach (IOrderItem x in Model.MenuList)
{
    @if (x is Entree)
    {


        <ul>
            <li>
                <div class="menu-item">
                    <h3>@x.ToString()</h3>
                    Price:
                    $
                    @x.Price
                    Calories:
                    @x.Calories
                </div>
            </li>
        </ul>
    }
}
<h2>Sides:</h2>
@foreach (IOrderItem x in Model.MenuList)
{
    @if (x is Side)
    {


        <ul>
            <li>
                <div class="menu-item">
                    <h3>@x.ToString()</h3>
                    Price:
                    $
                    @x.Price
                    Calories:
                    @x.Calories
                </div>
            </li>
        </ul>
    }
}
<h2>Drinks:</h2>
@foreach (IOrderItem x in Model.MenuList)
{
    @if (x is Drink)
    {
        <ul>
            <li>
                <div class="menu-item">
                    <h3>@x.ToString()</h3>
                    Price:
                    $
                    @x.Price
                    Calories:
                    @x.Calories
                </div>
            </li>
        </ul>
    }
}





